/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #4CAF50; /* Adjusted color for better visibility */
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #777; /* Adjusted label color for contrast */
}

input[type="text"], select {
    width: calc(100% - 18px); /* Adjusted input width */
    padding: 8px;
    margin: 5px 0 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #444;
    color: #fff;
}

input[type="button"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="button"]:hover {
    background-color: #45a049;
}

.result-container, .links-container {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

#result {
    white-space: pre-wrap;
    font-size: 14px;
}

#error {
    margin-top: 10px;
}

#links {
    list-style-type: none;
    padding: 0;
}

#links li {
    display: inline-block;
    margin-right: 10px;
}

#links a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

#links a:hover {
    text-decoration: underline;
}
